.list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px 10px 20px 20px;    
    height: 800px;
    width: 900px;
}

.list li {
    max-width: 300px;
    color: #1e1f26;
    list-style: none;
    margin: 10px 10px 0px 5px;     
    background-color: rgba(255, 255, 255, 0.8);     
    list-style-position:inside;    
    padding:10px;
    border-radius: 15px;
}

.list li:hover{        
    background-color: rgba(255, 255, 255, 0.9);     
}

.list li span {
    font-weight: bold;
}

.list button {
    width: 20px;
    height: 20px;    
    margin: 0 5px;
    padding: 5px;
    border: none;
    background-color: transparent;    
    background-size: contain;
}

.list button.removeItem {
    background-image: url('../../assets/images/bin.svg');    
}

.list button.editItem {
    background-image: url('../../assets/images/edit.svg');
}

.list button.addItem, button.shoppingList {    
    width: 62px;
    height: 67px;
    position: fixed;
    top: 130px;
    right: 140px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    transition: 0.4s;
}

.list button.shoppingList {   
    width: 82px;
    right: 40px;
}

.list button.addItem:hover, button.shoppingList:hover{   
    background: -webkit-linear-gradient(#ADA996, #EAEAEA);    
    color: #1e1f26;
    font-weight: bold;
}