h1 {
    margin: 20px 10px 15px 20px;
    font-size: 50px;        
    background: -webkit-linear-gradient(#ADA996, #EAEAEA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

img {
    width: 40px;
    height: 40px;    
    transition: 0.4s;
}

.line {
    margin-left: 20px;
    width: 500px;
    border: 1px solid #FFFFFF;
    transition: 0.6s;
    transform-origin: left;
}

.header:hover .line {
    transform: scaleX(2);    
}

.header:hover img {
    transform: rotate(25deg);    
}

.header:hover img+img {
    transform: rotate(-25deg);    
}
